@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-ibm-plex-sans);
}

@theme {
  --color-primary: #2563EB;
  --color-secondary: #059669;
  --color-dark: #000000;
}
